div, p, input, textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#game-container {
  position: relative;
  flex: 1;
  background: #222;
  z-index: 10;
}

.editor-container.vertical {
  position: relative;
  z-index: 20;
  height: 100%;
  width: 15%;
  font-size: 0.9em;
  background: linear-gradient(to right, #666, #777, #666);
  padding-bottom: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.editor-container.vertical .resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  z-index: 210;
  cursor: ew-resize;
  -webkit-user-select: none;
  background: rgba(255, 255, 255, 0);
  transition: width 120ms ease-in-out,
              background 120ms ease-in-out;
}
.editor-container.vertical.resizing .resizer,
.editor-container.vertical .resizer:hover {
  width: 20px;
  background: rgba(255, 255, 255, .8);
}
.editor-container.vertical.left .resizer {
  right: 0;
}
.editor-container.vertical.left.resizing .resizer,
.editor-container.vertical.left .resizer:hover {
  border-left: 1px solid rgba(0, 0, 0, .7);
}
.editor-container.vertical.right .resizer {
  left: 0;
}
.editor-container.vertical.right.resizing .resizer,
.editor-container.vertical.right .resizer:hover {
  border-right: 1px solid rgba(0, 0, 0, .7);
}

.editor-title {
  position: relative;
  padding: 5px 2px;
  background: rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(0, 0, 0, .3);
}
.editor-debug-flags {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  padding-top: 7px;
}
  .editor-debug-flags input {
    float: right;
    margin-right: 5px;
  }

.editor-button {
  padding: 0 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2),
              0 0 0 1px rgba(0, 0, 0, .8) inset;
  background: linear-gradient(to bottom, #bcd, #89a);
}
.editor-button:hover {
  background: linear-gradient(to bottom, #cde, #9ab);
}

.export-config {
  float: right;
  margin: -3px 45px -3px 0;
  padding: 3px 15px;
}

.is-playable {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, .6);
  border-radius: 6;
  z-index: 10;
  border-radius: 6px;
}
.is-playable:hover {
  background: rgba(0, 0, 0, .9);
}

.pane-container-array .items {
  padding: 5px;
}
.pane-container-object {
  position: relative;
}
  .pane-container-object .title {
    position: relative;
    padding: 2px;
    background: rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(0, 0, 0, .3);
  }
  .pane-container-object .toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    height: 26px;
    -webkit-appearance: none;
    outline: none;
  }
  .pane-container-object .toggle:before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    border: 10px solid transparent;
    border-top-color: #468;
    transform: translateY(2.5px);
    transition: transform 160ms ease-in-out;
  }
  .pane-container-object .toggle:checked:before {
    transform: translateY(-7.5px) scaleY(-1);
  }
  .pane-container-object .properties {
    overflow: hidden;
    height: auto;
    transition: height 160ms ease-in-out;
  }
  .pane-container-object .toggle:not(:checked) + .properties {
    height: 0;
  }
  
  
  .input {
    position: relative;
    display: flex;
    padding: 3px;
  }
  .input:not(.input-array):hover {
    background: rgba(255, 255, 255, .1);
  }
  .input-array {
    display: block;
    padding: 0;
  }
    .pane-input-label {
      display: flex;
      align-items: center;
      font-size: .9em;
      width: 50%;
    }
    .pane-input-field {
      width: 50%;
    }
    .pane-input-field input[type = "text"],
    .pane-input-field input[type = "number"],
    .pane-input-field textarea {
      width: 100%;
      max-width: 100%;
      padding: 2px 4px;
      border: 1px solid black;
      border-radius: 4px;
      font-family: monospace;
    }
    
.input-vector .pane-input-field input[type = "number"] {
  width: 50%;
  text-align: center;
}


.texture-selector {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 2px;
  background: #333;
  box-shadow: 0 0 0 1px #bbb;
  cursor: pointer;
  transition: transform 120ms ease-in-out;
}
.dragging-texture .texture-selector.dragging-over {
  transform: scale(1.2);
  box-shadow: 0 0 0 1px #bbb,
              0 0 5px 0 rgba(0, 0, 0, .7);
}
  .texture-selector canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: green;
    pointer-events: none;
  }
.held-texture {
  background: rgba(255, 255, 255, .5);
}

.textures-list {
  position: absolute;
  top: 26px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
  .textures-list .texture {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 82px;
    margin: 5px;
    background: #333;
    box-shadow: 0 0 0 1px #bbb;
    border-radius: 2px;
  }
  .textures-list .texture.dragging {
    background: #999;
  }
    .textures-list .texture canvas {
      position: absolute;
      top: 4px;
      left: 4px;
      background-color: green;
    }
    .textures-list .texture textarea {
      position: absolute;
      top: 3px;
      left: 43px;
      width: 174px;
      max-width: 174px;
      height: 86px;
      max-height: 86px;
      font-size: .9em;
      color: #fff;
      background: transparent;
      border: none;
      resize: none
    }
    
.textures-create {
  position: absolute;
  top: 2px;
  left: 120px;
  height: 22px;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .4);
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .5) inset;
  border-radius: 5px;
}
::-webkit-scrollbar-track-piece  {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1) inset;
  background: linear-gradient(to right, #ddd, #aaa);
}

.editor-title .create-new {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  margin: 3px 0 2px 0;
  display: flex;
  align-items: center;
}

.actors-editor {
  position: relative;
}
  .actors-list {
    position: relative;
    max-height: 450px;
    margin: 0 2px;
    overflow: auto;
  }
  .actors-editor .actor {
    position: relative;
    border-top: 2px solid rgba(0, 0, 0, .7);
    border-bottom: 2px solid rgba(0, 0, 0, .7);
    margin: 0 1px 10px 0;
  }
  .actors-editor .actor.highlight {
    background: rgba(128, 128, 32, .4);
  }
  .actors-editor .actor[data-placing = "true"] {
    background: red;
  }
  .actor .main-info {
  }
  .actor .input-id {
    min-height: 32px;
  }
    .actor .input-id .pane-input-label {
      padding-left: 34px;
    }
  .actor-modules-title {
    margin-top: 2px;
    padding: 2px;
    background: rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255 ,255, 255, .3);
  }
  .actor-modules {
    background: rgba(255, 255, 255, .1);
  }
  .actor-module {
    position: relative;
  }
  .ModuleTexture {
    position: absolute;
    top: 0;
    left: 0;
  }

.tiles-editor {
  position: relative;
}
  .tiles-editor .tiles-list {
    max-height: 250px;
    margin: 0 2px;
    overflow: auto;
  }
  .tiles-editor .tile {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 3px 5px 2px 1px;
    display: flex;
    flex-direction: row-reverse;
  }
  .tiles-editor .tile[data-placing = "true"] {
    background: red;
  }
  .tiles-editor .tile input[data-property = "isBlocking"] {
    vertical-align: middle;
  }
  .tiles-editor .tile label {
    vertical-align: middle;
  }
  .tiles-editor .tile input {
    font-size: .9em;
    padding: 1px 3px;
  }
  .tiles-editor .tile .pane-input-field {
    width: 75%;
  }
  .tiles-editor .tile .input {
    display: block;
    flex: 1;
    padding: 0 0 0 4px;
  }
  .tiles-editor .tile .place-tile {
    position: absolute;
    top: 50%;
    padding: 0;
    right: 4px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
  }
  
.texture {
  background: radial-gradient(closest-side, red, white);
}
.texture-editor {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  cursor: none;
  box-shadow: 0 0 0 3px #fff,
              0 0 0 7px #000;
  background-color: #fff;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0) 50%, rgba(255, 0, 0, .2) 50%);
  background-size: 32px 32px;
  display: none;
}
.texture-editor.visible {
  display: block;
}
  .texture-editor .selection {
    position: absolute;
    background: rgba(255, 0, 0, .4);
    z-index: 20;
  }
  .texture-editor .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .texture-editor .info {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 20;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    font-family: monospace;
  }