body, canvas, div, h1, h2, h3, h4, p, ul, ol, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

::selection {
  background: #C19393;
}

body {
  font: normal 1em 'Share Tech Mono';
  background: linear-gradient(to bottom, #eee, #ccc);
}

#game-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 700px;
  margin: -350px 0 0 -500px;
  background: #000;
  z-index: 20;
}
  #game-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -6px;
    z-index: 5;
    border-radius: 3px;
    border: 6px solid transparent;
    border-color: #9a7b45 #836634 #836634 #9a7b45;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 1),
                0 0 6px 0 rgba(0, 0, 0, 0.8);
    pointer-events: none;
  }
#game {
  position: absolute;
  top: 0;
  left: 0;
}
.game-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

em {
  font-style: normal;
  color: gold;
}
  
.text-box {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: #342f27;
  border-radius: 4px;
  border: 3px solid transparent;
  border-color: #9a7b45 #836634 #836634 #9a7b45;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .3) inset,
              0 0 0 1px rgba(0, 0, 0, .3);
  opacity: 0;
  transition: opacity 120ms ease-in;
}
.text-box.visible {
  opacity: 1;
}
.text-box.position-screen-bottom {
  top: auto;
  bottom: 0;
  left: 50%;
}

.game-webpage-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 1px solid #000;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1),
              4px 4px 0 0 rgba(0, 0, 0, .8);
  transform: translate(-50%, -50%);
}

.menu-wrapper {
  position: absolute;
  top: 0;
  width: 250px;
  z-index: 10;
  perspective: 800px;
}

.menu {
  position: relative;
  margin-top: 100px;
  margin-left: -6px;
  padding: 20px 6px 30px 12px;
  background: #B1A99D;
  border: 3px solid #836634;
  border-left-width: 0;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  transform-style: preserve-3d;
  perspective: 800px;
  transform-origin: 0 50%;
  transform: rotateY(15deg) rotateZ(1deg);
  transition: transform 120ms ease-in-out;
}
.menu:hover {
  transform: rotateY(0deg) rotateZ(0deg);
}
  .menu a {
    color: #000;
  }
  .menu h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 6px solid rgba(0, 0, 0, .2);
  }
.menu-options {
  list-style-type: none;
}
  .menu-option {
    margin-bottom: 5px;
  }
  .menu-option a {
    position: relative;
    display: block;
    padding: 5px 5px 5px 15px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0);
    transition: background 80ms ease-in-out;
  }
  .menu-option a:hover {
    background: rgba(255, 255, 255, .2);
  }
  .menu-option a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    width: 5px;
    height: 5px;
    margin-top: -6px;
    border: 3px solid transparent;
    border-color: #2D4E1C #2D4E1C transparent transparent;
    transform: rotate(45deg);
  }
  .menu-option a:hover:before {
    animation: menu-item 500ms ease-in-out alternate infinite;
  }
  @keyframes menu-item {
    0% {
      transform: translateX(0px) rotate(45deg);
    }
    100% {
      transform: translateX(2px) rotate(45deg);
    }
  }
  
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  list-style-type: none;
}
  .social-link {
    margin: 0 10px;
  }
    .social-link a {
      position: relative;
      display: block;
      width: 48px;
      height: 48px;
    }
      .social-link a span {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 18px;
        margin-top: 10px;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: opacity 120ms ease-in-out,
                    transform 120ms ease-in-out;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
                                              rgba(255, 255, 255, .5) 25%,
                                              rgba(255, 255, 255, .5) 75%,
                                              rgba(255, 255, 255, 0) 100%);
      }
      .social-link a:hover span {
        opacity: 1;
        transform: translate(-50%, 100%);
      }
      .social-link a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        border-radius: 4px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .3),
                    0 0 0 1px rgba(0, 0, 0, .3) inset;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        transition: box-shadow 120ms ease-in-out;
      }
      .social-link a:hover:before {
        box-shadow: 0 0 0 2px rgba(20, 20, 20, .7),
                    0 0 0 1px rgba(20, 20, 20, .7) inset;
      }
    .social-link.github a:before { background-image: url('/images/github.png'); }
    .social-link.linkedin a:before { background-image: url('/images/linkedin.png'); }

/* Hide since the actual module will grab its content and then remove it */
/* Hopefully this doens't hurt SEO! */
.module-content {
  display: none;
}

.game-module {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 100%;
  pointer-events: none;
}
.game-module.visible {
  pointer-events: inherit;
}
  .game-module-content {
    position: relative;
    width: 680px;
    min-height: 360px;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 6px;
    background: #241f17;
    color: #fff;
    opacity: 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3) inset,
                0 0 0 1px rgba(0, 0, 0, .3),
                0 0 0 5px rgba(0, 0, 0, .3);
    opacity: 0;
    transform: scale(.95);
    transition: transform 120ms ease-in,
                opacity 120ms ease-in;
  }
  .game-module.visible .game-module-content {
    opacity: 1;
    transform: scale(1);
  }
  .close-html-module {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: -15px -15px 0 0;
    text-align: center;
    opacity: 1;
    border-radius: 50%;
    background: #000;
    color: #d11;
    cursor: pointer;
  }
    .game-module .close-html-module:after {
      content: 'x';
    }
  .close-html-module:hover {
    background: #222;
  }
  .game-module p {
    margin: 15px 0;
    line-height: 1.4;
  }

.button {
  display: inline-block;
  text-align: center;
  height: 38px;
  line-height: 38px;
  padding: 0 40px;
  background: linear-gradient(to bottom, #ba9, #a98);
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.button:hover {
  background: linear-gradient(to bottom, #cba, #ba9);
}
.button:active {
  background: linear-gradient(to bottom, #a98, #ba9);
}

.popup-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  z-index: 1000;
}
  .popup-block-content {
    font-size: 1.2em;
    padding: 30px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #eee, #ddd);
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #000;
  }
    .popup-block-title {
      font-size: 1.1em;
      font-style: italic;
    }
    .popup-block-message {
      margin: 30px 0;
    }
    .popup-block-buttons {
      text-align: center;
    }

.actors-tooltip {
  padding: 5px 10px;
  max-width: 400px;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
}
  .actors-tooltip h1 {
    font-weight: normal;
    font-size: 1.1em;
    color: gold;
    margin: 4px 0;
  }
  
.dialog-box {
  width: 600px;
  height: 200px;
  margin: 0 0 16px -300px;
  padding: 10px 10px 10px 100px;
  font-size: 19px;
  line-height: 1.5;
  border-width: 6px;
  pointer-events: none;
}
  .dialog-box .image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, .2);
  }