body, canvas, div, h1, h2, h3, h4, p, ul, ol, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

::selection {
  background: #C19393;
}

body {
  font: normal 1em 'Share Tech Mono';
}
#game-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  margin: -300px 0 0 -400px;
}
#game {
  position: absolute;
  /*
  top: 0;
  left: 0;
              */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*
  box-shadow: 0 0 0 2px #fff,
              0 0 0 4px #000;
              */
}
  #game canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
  }
  
.text-box {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: #342f27;
  border-radius: 4px;
  border: 3px solid transparent;
  border-color: #9a7b45 #836634 #836634 #9a7b45;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .3) inset,
              0 0 0 1px rgba(0, 0, 0, .3);
  opacity: 0;
  transition: opacity 120ms ease-in;
}
.text-box.visible {
  opacity: 1;
}
.text-box.position-screen-bottom {
  top: auto;
  bottom: 0;
  left: 50%;
}

.game-webpage-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 1px solid #000;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1),
              4px 4px 0 0 rgba(0, 0, 0, .8);
  transform: translate(-50%, -50%);
}


.game-module {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 100%;
  pointer-events: none;
}
.game-module.visible {
  pointer-events: inherit;
}
  .game-module-content {
    position: relative;
    width: 680px;
    min-height: 360px;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 6px;
    background: #241f17;
    color: #fff;
    opacity: 1;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3) inset,
                0 0 0 1px rgba(0, 0, 0, .3),
                0 0 0 5px rgba(0, 0, 0, .3);
    opacity: 0;
    transform: rotate(2deg);
    transition: transform 120ms ease-in,
                opacity 120ms ease-in;
  }
  .game-module.visible .game-module-content {
    opacity: 1;
    transform: rotate(0deg);
  }
  .close-html-module {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: -15px -15px 0 0;
    text-align: center;
    opacity: 1;
    border-radius: 50%;
    background: #000;
    color: #d11;
  }
    .game-module .close-html-module:after {
      content: 'x';
    }
  .close-html-module:hover {
    background: #222;
  }
  .game-module p {
    margin: 15px 0;
    line-height: 1.4;
  }
  .game-module em {
    font-style: normal;
    text-decoration: underline;
  }

.button {
  display: inline-block;
  text-align: center;
  height: 38px;
  line-height: 38px;
  padding: 0 40px;
  background: linear-gradient(to bottom, #ba9, #a98);
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.button:hover {
  background: linear-gradient(to bottom, #cba, #ba9);
}
.button:active {
  background: linear-gradient(to bottom, #a98, #ba9);
}

.popup-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  z-index: 1000;
}
  .popup-block-content {
    font-size: 1.2em;
    padding: 30px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #eee, #ddd);
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #000;
  }
    .popup-block-title {
      font-size: 1.1em;
      font-style: italic;
    }
    .popup-block-message {
      margin: 30px 0;
    }
    .popup-block-buttons {
      text-align: center;
    }

.actors-tooltip {
  padding: 5px 10px;
  max-width: 400px;
  font-size: 13px;
  text-align: center;
  pointer-events: none;
}
.dialog-box {
  width: 600px;
  height: 200px;
  margin: 0 0 32px -300px;
  padding: 10px 10px 10px 100px;
  font-size: 19px;
  line-height: 1.5;
  border-width: 6px;
  pointer-events: none;
}
  .dialog-box .image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, .2);
  }